@page "/logger"
@using tuya_mqtt.net.Data;
@using tuya_mqtt.net.Helper;
@* ReSharper disable once InconsistentNaming *@
@inject IJSRuntime JS
@inject ILogger<Logger> LocalLogger
@inject ILogger<BrowserService> BrowserServiceLogger;

<component type="typeof(Logger)" render-mode="Server" />

<PageTitle>Log</PageTitle>
<h1>System log</h1>

<div @ref=_myElementReference>
    <LogComponent Height="@LogWindowHeight" />
</div>
@code {

    private ElementReference _myElementReference;

    private int LogWindowHeight { get; set; }

    private BrowserService? _browser;

    protected override void OnInitialized()
    {
        _browser = new BrowserService(BrowserServiceLogger);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _browser!.InitAsync(JS);
            _browser.Resize += OnResize;

            var rect = await _browser.GetElementClientRectAsync(_myElementReference);

            CalculateNewLogComponentHeight(new WindowSize() { Height = _browser.BrowserHeight, Width = _browser.BrowserWidth }, rect);
            StateHasChanged();
        }
        
    }


    private async void OnResize(object? obj, WindowSize newSize)
    {
        if (_browser!.IsInitialized)
        {
            try
            {
#if DEBUG
                LocalLogger.LogInformation($"OnResize {_myElementReference}", _myElementReference);
#endif
                var rect = await _browser.GetElementClientRectAsync(_myElementReference);

                CalculateNewLogComponentHeight(newSize, rect);
                StateHasChanged();
            }
            catch (Exception e)
            {
                LocalLogger.LogError(e, "Error in OnResize");
            }
        }
        else
        {
            LocalLogger.LogWarning("calling Resize, but not having Browser object initialized");
        }
    }

    private void CalculateNewLogComponentHeight(WindowSize viewportSize, BrowserService.BoundingClientRect logComponentClientRect)
    {
#pragma warning disable CS1030
#warning TODO - find out where this offset of ~66 come from
#pragma warning restore CS1030
        LogWindowHeight = viewportSize.Height - (int)logComponentClientRect.Top - 66;
    }

}
