@page "/logger"
@using tuya_mqtt.net.Data;
@using tuya_mqtt.net.Services;
@inject IJSRuntime JS
@inject ILogger<Logger> LocalLogger
@inject ILoggerFactory LoggerFactory
@inject ILogger<BrowserService> BrowserServiceLogger;

<component type="typeof(Logger)" render-mode="Server" />

<PageTitle>Log</PageTitle>
<h1>System log</h1>

<div @ref=_myElementReference>
    <LogComponent Height="@LogWindowHeight" />
</div>
@code {

    private ElementReference _myElementReference;

    private int LogWindowHeight { get; set; } = 0;

    private BrowserService Browser;

    protected override void OnInitialized()
    {
        Browser = new BrowserService(BrowserServiceLogger);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Browser.InitAsync(JS);
            Browser.Resize += OnResize;

            var rect = await Browser.GetElementClientRectAsync(_myElementReference);

            CalculateNewLogComponentHeight(new WindowSize() { Height = Browser.BrowserHeight, Width = Browser.BrowserWidth }, rect);
            StateHasChanged();
        }
        
    }


    private async void OnResize(object? obj, WindowSize newSize)
    {
        if (Browser.IsInitialized)
        {
            try
            {
                LocalLogger.LogInformation($"OnResize {_myElementReference}", _myElementReference);
                var rect = await Browser.GetElementClientRectAsync(_myElementReference);

                CalculateNewLogComponentHeight(newSize, rect);
                StateHasChanged();
            }
            catch (Exception e)
            {
                LocalLogger.LogError(e, "Error in OnResize");
            }
        }
        else
        {
            LocalLogger.LogWarning("calling Resize, but not having Browser object initialized");
        }
    }

    private void CalculateNewLogComponentHeight(WindowSize viewportSize, BoundingClientRect logComponentClientRect)
    {
#warning TODO - find out where this offset of ~66 come from
        LogWindowHeight = viewportSize.Height - (int)logComponentClientRect.Top - 66;
    }

}
